.bgs {
	/* background-color: #292929; */
	/* background: repeating-linear-gradient(
		30deg,
		#292929,
		#292929 30px,
		#303030 30px,
		#303030 60px
	); */
	background: linear-gradient(to bottom right, #292929, #0e504e);;
	height: 100%;
	margin:0;
	display: flex;
	justify-content: center;
	align-items: center;
}