.home { 
    font-family: 'Noto Sans KR';
    margin: 0 15% -1em; 
    padding-top: 50px;

}
.home-back{
    margin: 0;
    width: 100%;
    background: linear-gradient(to bottom right, #ffffff, #f6fffe);

}
.hometitle{
    font-size:50px;
	color: #27e2dc;
    text-align: center;
}

