.home { 
    font-family: 'Noto Sans KR';
    padding-top: 50px;
    background: linear-gradient(to bottom right, #292929, #0e504e);
	overflow-y: auto;
}
.wemadefuture{
    text-align: center;
    font-size:40px;
	color: #27e2dc;
    text-shadow: #1f1f1f 1px 4px;

}
.maintitle{
    font-size:30px;
	color: #27e2dc;
    text-align: center;
}
.imgbox{
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    text-align: center;
    background-color: #29292956;
    padding: 20px 15px;
    border-radius: 10px;
}

.imgs p {
    color: #ddffff;
    margin-top: 5px;
    word-break: break-all;
}

.farmimg{
    filter:invert(100%);
    height:75px;
    width:75px;
}
.launchpadimg{
    filter:invert(100%);
    height:75px;
    width:75px;
}
.nftimg{
    filter:invert(100%);
    height:75px;
    width:75px;
}
.gameimg{
    filter:invert(100%);
    height:75px;
    width:75px;
}

h5{
    text-align: center;
    color:#27e2dc;
}
p{
    color:#27e2dc;
}