/* Styles go here */

.bg {
	/* background-color: #292929; */
	/* background: repeating-linear-gradient(
		30deg,
		#292929,
		#292929 30px,
		#303030 30px,
		#303030 60px
	); */
	background: linear-gradient(to bottom right, #292929, #0e504e);
	height: 110%;
}


#loader{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2rem;
}

#content {
    height: 100%;
	text-align: center;
}

h1 {
	color: #27e2dc;
	text-shadow: rgba(0, 0, 0, 0.247) 2px 5px;
}

.info_title {
	margin: 20px 0;
	font-size: 1.2rem;
	color: #fff;
}

.info_title .heading {
	margin: 10px 0 0;
}

