@font-face {
  font-family: 'Jost';
  font-weight: normal;
  src: url("./fonts/Jost-Regular.ttf")
}

@font-face {
  font-family: 'Jost';
  font-weight: bold;
  src: url("./fonts/Jost-Bold.ttf")
}

@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/Jost-Italic.ttf")
}